{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}My Trip Records{% endblock %}</title>
</head>
<body>
    <header class="navbar fixed-top">
        <div class="container">
            <nav class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'tripapp:user_logout' %}">ログアウト</a>
                <a class="nav-item nav-link" href="{% url 'tripapp:mypage' %}">マイページ</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'tripapp:user_login' %}">ログイン</a>
                <a class="nav-item nav-link" href="{% url 'tripapp:regist' %}">新規登録</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main class="container" style="padding-top: 70px;">
        {% block content %}{% endblock %}
    </main>
</body>
</html>