{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My Trip Records</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>My Trip Records</h1>
    <a class="btn-circle-border-double" href="{% url 'tripapp:user_logout' %}">Logout</a>
    <a class="btn-circle-border-double" href="{% url 'tripapp:newtrip' %}">New trip</a>

    <!-- 旅行情報を表示するための要素 -->
    <ul id="tripList">
        {% for trip in trips %}
        <li>
            <a href="{% url 'tripapp:tripdetails' trip.id %}">{{ trip.destination }}</a>
            <!-- 削除ボタン -->
            <form action="{% url 'tripapp:delete_trip' trip.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn-flat-border">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>