{% extends 'pan_base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'tripapp:mypage' %}">マイページ</a></li>
        <li class="breadcrumb-item"><a href="{% url 'tripapp:tripdetails' trip_id=trip_id %}">旅行詳細</a></li>
        <li class="breadcrumb-item active" aria-current="page">写真</li>
    </ol>
</nav>

<h1>写真</h1>

<!-- エラーメッセージを表示 -->
{% if form.errors %}
<ul>
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
</ul>
{% endif %}

<!-- アップロードした写真の表示 -->
{% if uploaded_picture %}
<h2>Uploaded Picture:</h2>
<img src="{{ uploaded_picture.url }}" alt="Uploaded Picture">
{% endif %}

<!-- 写真のアップロードフォーム -->
<form id="upload-form" action="{% url 'tripapp:pictures' trip_id=trip_id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" multiple accept="image/*" id="multiple-files" name="image">
    <button type="submit" class="btn-flat-border">アップロード</button>
</form>

<!-- 写真の表示 -->
<form action="{% url 'tripapp:bulk_delete_pictures' trip_id=trip_id %}" method="post">
    {% csrf_token %}
    {% for picture in pictures %}
    <div>
        <input type="checkbox" name="picture_ids" value="{{ picture.id }}">
        <img src="{{ picture.image.url }}" alt="Picture" style="width: 300px; height: auto;">
    </div>
    {% endfor %}
    <button type="submit" class="btn-flat-border">選択して削除</button>
</form>

<!-- 戻るボタン -->
<div class="footer">
    <button class="btn-circle-border-double" onclick="window.location.href='{% url 'tripapp:tripdetails' trip_id=trip_id %}'">戻る</button>
</div>

<!-- JavaScript -->
<script type='text/javascript'>
    function validateForm() {
        var files = document.getElementById('multiple-files').files;
        if (files.length === 0) {
            alert("写真を選択してください。");
            return false;
        }
        return true;
    }
</script>
{% endblock %}