{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pictures</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <h1>Add Pictures</h1>
    
    <!-- エラーメッセージを表示 -->
    {% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
    
    <!-- アップロードした写真の表示 -->
    {% if uploaded_picture %}
    <h2>Uploaded Picture:</h2>
    <img src="{{ uploaded_picture.url }}" alt="Uploaded Picture">
    {% endif %}
    
    <!-- 写真のアップロードフォーム -->
    <form id="upload-form" action="{% url 'tripapp:picturesupload' trip_id=trip_id %}" method="POST" enctype="multipart/form-data" style="margin: 10px;">
        {% csrf_token %}
        <input type="file" multiple accept="image/*" id="multiple-files" name="image">
        <br>
        <!-- 戻るボタン -->
        <button type="button" class="btn-circle-border-double" onclick="window.location.href='{% url 'tripapp:pictures' trip_id=trip_id %}'">Back</button>
        <!-- 保存ボタン -->
        <button type="submit" class="btn-circle-border-double" onclick="return validateForm()">Save</button>
    </form>

    <!-- JavaScript -->
    <script type='text/javascript'>
        function validateForm() {
            var files = document.getElementById('multiple-files').files;
            if (files.length === 0) {
                alert("写真を選択してください。");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>