{% extends 'pan_base.html' %}

{% block content %}
    <h1>Trip Details - {{ trip.destination }}</h1>
    <ul>
        <li><a href="{% url 'tripapp:items' trip_id=trip.id %}">What to bring</a></li>
        <li><a href="{% url 'tripapp:memos' trip_id=trip.id %}">Information</a></li>
        <li><a href="{% url 'tripapp:locations' trip_id=trip.id %}">Wanna go place</a></li>
        <li><a href="{% url 'tripapp:pictures' trip_id=trip.id %}">Pictures</a></li>
    </ul>
    <button class="btn-circle-border-double" onclick="window.location.href='{% url 'tripapp:mypage' %}'">Back</button>
{% endblock %}